
.body{
    background-color:rgb(228, 247, 255) ;

}
.re {
    
 
    text-align: center;
  
    font-size: 20px;
    background-color: rgb(255, 255, 255);
}

table{
   float: right;
   position: relative;
   right: 20px;
   border-collapse: collapse;
   width: 50vw;

   border: 3px solid black;
}

tr, td{

    height: 70px;
   

}



/* 시간표 칸 내부의 각 과목 정보를 Flexbox로 설정하여 꽉 차도록 조절 */


.re table {
    border-collapse: collapse;
 
}

.re th, .re td {
    border: 1px solid black;
  
}

.re th {

   background-color:  rgb(228, 247, 255)}

.openBt{
/* float: right; */
border-radius: 15px;
margin: 50px 20px;
position: relative;
left: 50px;
border-radius: 100%;

width: 12%;
height: 12%;


}
.bu{   background-color: #9de8f7;
    border: white;
    border-radius: 15px;
}


.input{
    width: 1000px;
 
    transform: translate(-50%, -50%);
}



  

.container1{
display: grid;
grid-template-columns: 1fr 43vw;



}


.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: relative;
    left: 1%;
    top: 15%;

}


.box{
    width: 300px;
    border-radius: 15px;
    background-color:  #aaf1ff;
   display: flex;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   font-size: 11px;
   margin: 10px;
   height: 50px;
   border-radius: 25px;

}




@media screen  and (max-width : 768px) {

    .container1{
        display: grid;
        grid-template-columns: 1fr;

        justify-content: center;
        align-items: center;
        
        
        }
    .container2{


    position: relative;
    top: 40%;
    margin-right: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .re{
       margin-right: 10px;
    }
   .openBt{
    position: relative;
    left: 25px;
    width: 50px;
    height: 50px;
   
   }
   table{
    float: left;
    position: relative;
    left: 30vw;

    border-collapse: collapse;
   
 
    border: 3px solid black;
 }
    
}

/* 모달 스타일 */
.modal {
    display: none; /* 초기에는 숨김 */
    position: absolute; /* 부모 요소를 기준으로 위치 */
    z-index: 1;
}

/* 모달 컨텐츠 */
.modal-content {
    background-color: white; /* 배경 흰색 */
    padding: 20px;
    border-radius: 10px;
    width: 300px; /* 고정된 너비 */
    max-width: 20%; /* 최대 너비 */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
    box-sizing: border-box; /* 패딩과 경계 포함 */
}