<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Or Communication Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <style>
        .jua-regular {
            font-family: "Jua", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 1.2rem;
        }

        .footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 10px;
        }

        .gradient-background {
            background: linear-gradient(300deg, #aaf1ff, #0bb49d, #0292da);
            background-size: 180% 180%;
            animation: gradient-animation 18s ease infinite;
        }

        @keyframes gradient-animation {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }

        .h-custom {
            height: calc(100% - 73px);
        }

        @media (max-width: 1200px) {
            .h-custom {
                height: 140%;
            }
        }

        #chat-container {
            height: 600px;
            overflow-y: auto;
            border: 1px solid rgb(217, 233, 232);
            padding: 10px;
            background-color: rgb(217, 233, 232);
        }
    </style>

</head>

<body>
    <div class="d-flex flex-column">
        <div class="form">
            <header class="p-3 mb-3 border-bottom gradient-background jua-regular">
                <div class="container col-lg-12 col-md-12 col-sm-6">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <a href="/"
                            class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                                <use xlink:href="#bootstrap"></use>
                            </svg>
                        </a>

                        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                            <nav class="navbar navbar-light" aria-label="light offcanvas navbar">
                                <div class="container-fluid">
                                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                                        aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1"
                                        id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                                        <div class="offcanvas-header">
                                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">이전 과제 문제 (날짜 빠른순이 위로)
                                            </h5>
                                            <button type="button" class="btn-close btn-close-white"
                                                data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                        </div>
                                        <div class="offcanvas-body" style="background-color: white;">
                                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                                <li class="nav-item">
                                                    <a class="nav-link active" aria-current="page" href="#">1.이전 과제
                                                        문제</a>
                                                </li>
                                            </ul>
                                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                                <li class="nav-item">
                                                    <a class="nav-link active" aria-current="page" href="#">2.이전 과제
                                                        문제</a>
                                                </li>
                                            </ul>
                                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                                <li class="nav-item">
                                                    <a class="nav-link active" aria-current="page" href="#">3.이전 과제
                                                        문제</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                            <li><a href="#" class="nav-link px-3 link-body-emphasis">질문 게시판</a></li>

                            <li><a href="#" class="nav-link px-3 link-body-emphasis">과제</a></li>

                            <div class="dropdown text-end">
                                <a href="#" class="nav-link link-body-emphasis text-decoration-none dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-expanded="false">챗봇과의 대화</a>
                                <ul class="dropdown-menu" data-bs-popper="static">
                                    <li><a class="dropdown-item" href="/choice_file">교육용 챗봇</a></li>
                                    <li><a class="dropdown-item" href="/daily_chatbot">심리상담 챗봇</a></li>
                                </ul>
                            </div>

                            <li><a href="#" class="nav-link px-3 link-body-emphasis">오답노트</a></li>

                            <div class="dropdown text-end">
                                <a href="#" class="nav-link link-body-emphasis text-decoration-none dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-expanded="false">기타사항</a>
                                <ul class="dropdown-menu" data-bs-popper="static">
                                    <li><a class="dropdown-item" href="#">오늘의 학습</a></li>
                                    <li><a class="dropdown-item" href="#">파일 다운로드</a></li>
                                    <li><a class="dropdown-item" href="#">메모장</a></li>
                                </ul>
                            </div>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" data-toggle="modal" class="px-3" data-target="#logoutModal">로그아웃</a></li>
                        </ul>

                        <div class="dropdown text-end">
                            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                                    class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Sign out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <!-- chatbot -->
        <div class="container jua-regular" style="margin-top: 10px;">
            <div class="card" id="chat3" style="border-radius: 15px; background-color: rgb(217, 233, 232);">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="pt-3 pe-3" data-mdb-perfect-scrollbar="true"
                                style="position: relative; height: 590px;">

                                <div id="chat-container">
                                    <!-- Chat messages will be appended here -->
                                </div>
                            </div>

                            <div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-3">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                                    alt="avatar 3" style="width: 40px; height: 100%;">
                                <input type="text" class="form-control form-control-lg" id="user-input"
                                    placeholder="Type message">
                                <button type="button" class="btn btn-outline-dark"
                                    style="height: 45px; margin-left: 10px;" id="send-btn">Send</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer gradient-background">
        <div
            class="row d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5">
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script>
        const chatContainer2 = document.getElementById('chat-container');
        const userInput2 = document.getElementById('user-input');
        const sendBtn2 = document.getElementById('send-btn'); //전역변수는 우선 선언후 input_file.js불러오기!
    </script>
    <script src="{{ url_for('static', filename='js/input_file.js') }}"></script> 
    <script type="module">
        


        // const socket = io('https://7a87-125-184-48-169.ngrok-free.app', {
        //     autoConnect: true,
        //     extraHeaders: {
        //         "ngrok-skip-browser-warning": true
        //     }
        // });


        // socket.connect('https://4105-125-184-48-169.ngrok-free.app');
        // console.log(socket.connected);

        // socket.on("connect", () => {
        //     console.log('연결되었습니다.');
        // });

        // socket.on("connect_error", (error) => {
        //     if (socket.active) {
        //         // temporary failure, the socket will automatically try to reconnect
        //     } else {
        //         // the connection was denied by the server
        //         // in that case, `socket.connect()` must be manually called in order to reconnect
        //         console.log(error.message);
        //         // some additional description, for example the status code of the initial HTTP response
        //         console.log(err.description);
        //         // some additional context, for example the XMLHttpRequest object
        //         console.log(err.context);
        //     }
        // });

        // socket.on('summary_result', (data) => {
        //     console.log('received file data:', data);
        //     // Handle the file data
        //     appendMessage(data, false);
        // });


        // function appendMessage(message1, isUser) { //입력받은 메세지로 html에 말풍선 생성, 유저 true일경우 오른쪽 false일경우 왼쪽
        //     var messageDiv = document.createElement('div');
        //     messageDiv.className = `d-flex flex-row justify-content-${isUser ? 'end' : 'start'}`;
        //     messageDiv.innerHTML = `
        //                 <div>
        //                     <p class="p-2 ${isUser ? 'me-3' : 'ms-3'} mb-1 ${isUser ? 'text-white bg-primary' : ''}" style="border-radius: 15px; background-color: ${isUser ? '' : '#f5f6f7'};">
        //                         ${message1}
        //                     </p>
        //                     <p class="${isUser ? 'me-3' : 'ms-3'} mb-3 text-muted" style="font-size: 12px;">
        //                         ${new Date().toLocaleTimeString()}
        //                     </p>
        //                 </div>
        //             `;
        //     chatContainer.appendChild(messageDiv);
        //     chatContainer.scrollTop = chatContainer.scrollHeight;
        // }

        // function sendMessage(message1) {
        //     socket.emit('summary_chat', {"message":message1, "uid":uid});  //챗봇서버에 메세지 전송
        //     console.log('메세지를 보냈습니다. ' + message1);  //콘솔에 보낸 메세지 출력
        // }

        sendBtn2.addEventListener('click', () => { //버튼 클릭시
            const message1 = userInput2.value;  //채팅 입력창 text를 message1에 저장
            if (!message1) return; //아무것도 없을경우 종료

            appendMessage2(message1, true);  //채팅창에 말풍선 생성
            userInput2.value = '';  //입력창 비우기
            sendMessage2(message1);  // 챗봇서버에 메세지 보내는 함수
        });

        userInput2.addEventListener('keypress', (e) => {  //채팅을 엔터로 입력시 동일
            if (e.key === 'Enter') {
                sendBtn2.click();
            }
        });
        
    </script>
    

</body>

</html>